exe5/old_results/resultados_ate_2018-02-03/resultado_2018-02-02_183601/exe5_log.txt                                      
exe5/old_results/resultados_ate_2018-02-03/resultado_2018-02-02_190538/exe5_log.txt                          
exe5/old_results/resultados_ate_2018-02-03/resultado_2018-02-02_193122/exe5_log.txt                                   
exe5/old_results/resultados_ate_2018-02-03/resultado_2018-02-03_012828/exe5_log.txt                                     
exe5/old_results/resultados_até_20180206/resultado_2018-02-05_012922/exe5_log.txt         
exe5/old_results/resultados_até_20180206/resultado_2018-02-05_083508_200/exe5_log.txt 